<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Babysitter Salary Calculator</title>
    <meta http-equiv="Content-Type" content="text/html"/>
</head>

<body>
<h1>Hours Input</h1>
<form action="#" th:action="@{/}" th:object="${hoursTrackingForm}" method="post">
    <table>
        <tr>
            <td>Start Time:</td>
            <td><input type="date" th:field="*{startTime}"/></td>
            <td th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Start Time Error</td>
        </tr>
        <tr>
            <td>End Time:</td>
            <td><input type="date" th:field="*{endTime}"/></td>
            <td th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">End Time Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
            <td>
                <button type="reset" onclick="location.href='/'">Reset</button>
            </td>
        </tr>
    </table>
</form>

</body>

</html>